@mixin home-page-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-slash {
    .docs-header-background {
      background: mat-color($primary);
    }

    .docs-header-headline {
      color: mat-color($primary, default-contrast);
    }

    .primary-color {
      @extend .docs-footer;
      color: mat-color($primary, default-contrast) !important;
    }

    .docs-header-start {
      color: mat-color($primary);
    }

    .docs-homepage-row {
      color: mat-color($foreground, secondary-text);
    }
    .mat-icon {
      width: auto;
    }

    .mat-list, .mat-nav-list, .mat-selection-list {
      background-color: #00AAC4;
    }
  }
}
