<!--
<header class="docs-header-background">
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <h1 class="mat-h1" style="color: whitesmoke">offscale.io</h1>
      <h2>Expensive problems; solved</h2>
    </div>
    <div class="docs-header-start">
      <a mat-raised-button class="button" color="primary"
         href="mailto:samuel@offscale.io">Email</a>
    </div>
  </div>
</header>


<button mat-raised-button color="accent" routerLink="/docs/getting-started">
  Technical docs
</button>

<section style="background-color: black; padding: 10px 0 10px 35px">
  <dl style="color: white">
    <dt><strong>Achievements</strong></dt>
    <dd>showed Telstra how to save 100M;</dd>
    <dd>engineered for Data Republic to raise 10.5M;</dd>
    <dd>developed a Startup for high-net-worth for 1yr (penthouse, J.P. Morgan building)</dd>
  </dl>
</section>
-->
<div class="well" fxLayout="column">
  Offscale.io is a software consultancy specialising in:
  <div class="btn-group btn-group-justified" role="group"
       fxLayout="row" fxLayout.xs="column"
       fxLayoutGap="1px">
    <button class="btn btn-info"
            fxFlex style="width: 100%"
            (click)="scrollToId('#cloud_and_auto')">
      cloud
    </button>
    <button class="btn btn-info"
            fxFlex style="width: 100%"
            (click)="scrollToId('#cloud_and_auto')">
      automation
    </button>
    <button class="btn btn-success"
            fxFlex style="width: 100%"
            (click)="scrollToId('#software_engineering')">
      software engineering
    </button>
    <button class="btn btn-primary"
            fxFlex style="width: 100%"
            (click)="scrollToId('#data_analytics')">
      data analytics
    </button>
  </div>
</div>

<div class="main-content">
  <!-- First content group -->
  <div class="vertical-wrapper" id="cloud_and_auto">
    <!-- Left vertical area -->
    <div class="left hidden-sm hidden-xs">
      <div class="frame">
        <div class="tab blue">
          <div class="tab-rounded"></div>
          <div class="caption"><h3><b>Cloud</b> migration &amp; infrastructure automation</h3></div>
        </div>
      </div>
    </div>
    <!-- / Left vertical area -->

    <!-- First row -->
    <div class="right">
      <div class="vertical-wrapper">
        <div class="hidden-sm hidden-xs">
          <div class="frame">
            <div class="tab">
              <div class="caption inverse-blue">Multicloud</div>
            </div>
          </div>
        </div>

        <ul class="nav nav-tabs" style="width: 100%"
            fxLayoutAlign="stretch" fxLayoutGap="20px"
            fxLayout.xs="column" fxLayoutGap.xs="1px">
          <li (click)="multicloud = 'aws'" fxFlex>
            <img class="svg cloud-logo hidden-xs hidden-sm"
                 src="../../assets/img/logos/Amazon_Web_Services_Logo.svg"/>
            <h1 class="inverse-blue">Amazon Web Services (AWS)</h1>
          </li>
          <li (click)="multicloud = 'azure'" fxFlex>
            <img class="svg cloud-logo hidden-xs hidden-sm" src="../../assets/img/logos/azure.svg"/>
            <h1 class="inverse-blue">Microsoft Azure</h1>
          </li>
          <li (click)="multicloud = 'ibm'" fxFlex>
            <img class="svg cloud-logo hidden-xs hidden-sm" src="../../assets/img/logos/ibm_cloud.png"/>
            <h1 class="inverse-blue">IBM Cloud</h1>
          </li>
          <li (click)="multicloud = 'clouds'" fxFlex>
            <img class="svg cloud-logo hidden-xs hidden-sm"
                 src="../../assets/img/logos/mesosphere.svg"/>
            <h1 class="inverse-blue">50+ others (public &amp; private)</h1>
          </li>
        </ul>
      </div>
      <div class="row" *ngIf="multicloud">
        <div class="col-md-12">
          <div *ngIf="multicloud === 'aws'">
            <p>AWS is awesome because</p>
          </div>
          <div *ngIf="multicloud === 'azure'">
            <p>Azure is awesome because</p>
          </div>
          <div *ngIf="multicloud === 'ibm'">
            <p>IBM is awesome because</p>
          </div>
          <div *ngIf="multicloud === 'clouds'">
            <p>OpenStack is just one of the >50 others we support</p>
          </div>
        </div>
      </div>
      <!-- First row | 100 hours; -->

      <!-- Second row -->
      <div class="vertical-wrapper">
        <div class="left hidden-sm hidden-xs">
          <div class="frame">
            <div class="tab">
              <div class="caption inverse-blue">Approach</div>
            </div>
          </div>
        </div>

        <ul class="nav nav-tabs circle-parent" style="width: 100%"
            fxLayoutAlign="stretch" fxLayoutGap="20px"
            fxLayout.xs="column" fxLayoutGap.xs="2px">
          <li (click)="approach = 'devops'" class="inverse-blue dashed-border"
              fxFlex>
            <h1>Goal 1<br/>Automate infrastructure deployment
              (DevOps)</h1>
          </li>
          <li (click)="approach = 'rebuild_apps'" class="inverse-blue dashed-border"
              fxFlex>
            <h1>Goal 2<br/>Upgrade applications to
              'cloud-native'</h1>
          </li>
          <li (click)="approach = 'elastic'" class="inverse-blue dashed-border"
              fxFlex>
            <h1>Goal 3<br/>Elastic scaling</h1>
          </li>
        </ul>
      </div>

      <div class="row" *ngIf="approach">
        <div class="col-md-12">
          <div *ngIf="approach === 'devops'">
            <p>devops devops</p>
          </div>
          <div *ngIf="approach === 'rebuild_apps'">
            <p>rebuild_apps rebuild_apps</p>
          </div>
          <div *ngIf="approach === 'elastic'">
            <p>elastic elastic</p>
          </div>
        </div>
      </div>
      <!-- / Second row -->

      <!-- Third row -->
      <div class="vertical-wrapper">
        <div class="left hidden-sm hidden-xs">
          <div class="frame">
            <div class="tab">
              <div class="caption wrap inverse-blue">Key technologies</div>
            </div>
          </div>
        </div>

        <ul class="nav nav-tabs circle-parent" style="width: 100%"
            fxLayoutAlign="stretch" fxLayout="row" fxLayoutGap="20px"
            fxLayout.xs="column" fxLayoutGap.xs="2px">
          <li fxFlex>
            <img class="sphere-logo" src="../../assets/img/logos/docker.png" alt="Docker"/>
          </li>
          <li fxFlex>
            <img class="sphere-logo" src="../../assets/img/logos/mesosphere.svg" alt="Mesosphere DC/OS">
          </li>
          <li fxFlex>
            <img class="sphere-logo" src="../../assets/img/logos/etcd-logo.png" alt="etcd">
          </li>
          <li fxFlex>
            <img class="sphere-logo" src="../../assets/img/logos/github.png" alt="github.com/offscale">
          </li>
        </ul>
      </div>

      <div class="row" *ngIf="false">
        <div class="tab-content col-md-12">
          <div class="tab-pane fade" id="docker">
            <p>docker docker</p>
          </div>
          <div class="tab-pane fade" id="dcos">
            <p>dcos dcos</p>
          </div>
          <div class="tab-pane fade" id="EngagePeople">
            <p>EngagePeople EngagePeople</p>
          </div>
          <div class="tab-pane fade" id="github">
            <p>github github</p>
          </div>
        </div>
      </div>
      <!-- / Third row -->


      <!-- Fourth row -->
      <div class="vertical-wrapper">
        <div class="left hidden-sm hidden-xs">
          <div class="frame">
            <div class="tab">
              <div class="caption wrap inverse-blue">Philosophy</div>
            </div>
          </div>
        </div>

        <ul class="nav nav-tabs blue" fxLayout="row" style="width: 100%; border-radius: 0 0 15px 15px;">
          <li>
            <h1 class="small">Fully automate infrastructure, deployments and mobilise your
              stack portable.</h1>
          </li>
        </ul>

        <div class="row" *ngIf="false">
          <div class="tab-content col-md-12">
            <div class="tab-pane fade" id="MinistryVision">
              <p>MinistryVision MinistryVision</p>
            </div>
          </div>
        </div>
      </div>

      <!-- / Fourth row -->
    </div>
  </div>
  <!-- / First content group -->


  <!-- Second content group -->
  <div class="vertical-wrapper" id="software_engineering">
    <!-- Left vertical area -->
    <div class="left hidden-sm hidden-xs">
      <div class="frame">
        <div class="tab green">
          <div class="tab-rounded"></div>
          <div class="caption"><h3>Scalable software development</h3></div>
        </div>
      </div>
    </div>
    <!-- / Left vertical area -->

    <!-- First row -->
    <div class="right">
      <div class="vertical-wrapper ocio-mission">
        <div class="left hidden-sm hidden-xs">
          <div class="frame">
            <div class="tab">
              <div class="caption wrap inverse-green">Idea</div>
            </div>
          </div>
        </div>

        <ul class="nav nav-tabs green" fxLayout="row" style="width: 100%; border-radius: 15px 15px 0 0;">
          <li>
            <h1 class="small">Never engineer with one application in mind: think platform; think framework</h1>
          </li>
        </ul>
      </div>
      <!-- / First row -->


      <!-- Second row -->
      <div class="vertical-wrapper">
        <div class="left hidden-sm hidden-xs">
          <div class="frame">
            <div class="tab">
              <div class="caption inverse-green">Full-stack</div>
            </div>
          </div>
        </div>


        <ul class="nav nav-tabs" style="width: 100%"
            fxLayoutAlign="stretch" fxLayoutGap="20px"
            fxLayout.xs="column" fxLayoutGap.xs="2px">
          <li fxFlex>
            <div class="inverse-green">
              <h2>STORAGE</h2>
              <mat-icon class="success-logo">storage</mat-icon>
              <br/>
              Distributed file systems, databases, caches and queues
            </div>
          </li>
          <li fxFlex>
            <div class="inverse-green">
              <h2>ANDROID</h2>
              <mat-icon class="success-logo">android</mat-icon>
              <br/>
              Native Java development
            </div>
          </li>
          <li fxFlex>
            <div class="inverse-green">
              <h2>iOS</h2>
              <mat-icon class="success-logo">phone_iphone</mat-icon>
              <br/>
              Native Swift development
            </div>
          </li>
          <li fxFlex>
            <div class="inverse-green">
              <h2>WEB</h2>
              <mat-icon class="success-logo">web</mat-icon>
              <br/>
              Angular (TypeScript) development
            </div>

          </li>
          <li fxFlex>
            <div class="inverse-green">
              <h2>REST API</h2>
              <mat-icon class="success-logo">business</mat-icon>
              <br/>
              Node.js (TypeScript)<br/>
              Python<br/>
              C++, Rust, &etc.
            </div>
          </li>
        </ul>

        <!-- <div class="row">
            <div class="tab-content col-md-12">
                <div class="tab-pane fade" id="Goal1">
                    <p></p>
                </div>
            </div>
        </div> -->

      </div>
      <!-- / Second row -->

      <!-- Third row -->
      <div fxLayout="row">
        <div class="hidden-sm hidden-xs">
          <div class="frame">
            <div class="tab">
              <div class="caption inverse-green">Strategic Goals</div>
            </div>
          </div>
        </div>

        <ul class="nav nav-tabs" style="width: 100%"
            fxLayoutAlign="stretch" fxLayoutGap="0px"
            fxLayout.xs="column" fxLayoutGap.xs="0px">
          <li class="puzzle puzzle-top" fxFlex>
            <div class="puzzle-background dark-green">
              <h1 class="puzzle-text">
                <img src="../../assets/img/Goal1.png"/><br/>
                DECOUPLE
              </h1>
            </div>
            <div class="puzzle-circle white right"></div>
            <div class="puzzle-circle dark-green right"></div>
          </li>
          <li class="puzzle" fxFlex>
            <div class="puzzle-background green">
              <h1 class="puzzle-text">
                <img src="../../assets/img/Goal2.png"/><br/>
                DECOMPOSE
              </h1>
            </div>
          </li>
          <li class="puzzle puzzle-top" fxFlex>
            <div class="puzzle-circle white left"></div>
            <div class="puzzle-circle dark-green left"></div>
            <div class="puzzle-circle white right"></div>
            <div class="puzzle-circle dark-green right"></div>
            <div class="puzzle-background dark-green">
              <h1 class="puzzle-text">
                <img src="../../assets/img/Goal3.png"/><br/>
                DEPLOY
              </h1>
            </div>
          </li>
          <li class="puzzle" fxFlex>
            <div class="puzzle-background green">
              <h1 class="puzzle-text">
                <img src="../../assets/img/Goal4.png"/><br/>
                DELIVER
              </h1>
            </div>
          </li>
        </ul>
      </div>
      <div *ngIf="false">
        <div class="tab-content col-md-12">
          <div class="tab-pane fade" id="EnableDigital">
            <p>EnableDigital EnableDigital</p>
          </div>
          <div class="tab-pane fade" id="MaximizeValue">
            <p>MaximizeValue MaximizeValue</p>
          </div>
          <div class="tab-pane fade" id="EngagedWorkforce">
            <p>EngagedWorkforce EngagedWorkforce</p>
          </div>
          <div class="tab-pane fade" id="OperationalExcellence">
            <p>OperationalExcellence OperationalExcellence</p>
          </div>
        </div>
      </div>
      <!-- / Third row -->

    </div>
  </div>
  <!-- / Second content group -->
  <div class="vertical-wrapper" id="data_analytics">
    <!-- Left vertical area -->
    <div class="left hidden-sm hidden-xs">
      <div class="frame">
        <div class="tab dark-blue">
          <div class="tab-rounded"></div>
          <div class="caption"><h3>Data analytics</h3></div>
        </div>
      </div>
    </div>
    <!-- / Left vertical area -->

    <!-- First row -->
    <div class="right">
      <div class="vertical-wrapper">
        <div class="left hidden-sm hidden-xs">
          <div class="frame">
            <div class="tab">
              <div class="caption inverse-dark-blue">Core</div>
            </div>
          </div>
        </div>


        <div class="right">
          <ul class="nav nav-tabs" style="width: 100%"
              fxLayoutAlign="stretch" fxLayoutGap="20px"
              fxLayout.xs="column" fxLayoutGap.xs="2px">
            <li class="inverse-dark-blue" fxFlex>
              <img src="../../assets/img/dark-blue/devices-and-productivity.png"/><br/>
              Artificial Intelligence
            </li>
            <li class="inverse-dark-blue" fxFlex>
              <img src="../../assets/img/dark-blue/it-service-delivery.png"/><br/>
              Natural Language Processing
            </li>
            <li class="inverse-dark-blue" fxFlex>
              <img src="../../assets/img/dark-blue/identity-management.png"/><br/>
              Server log investigation
            </li>
            <li class="inverse-dark-blue" fxFlex>
              <img src="../../assets/img/dark-blue/imit-capital-investment.png"/><br/>
              Multivariate regression
            </li>
            <li class="inverse-dark-blue" fxFlex>
              <img src="../../assets/img/dark-blue/policy-standards-architecture.png"/><br/>
              Research focussed (PhD+)
            </li>
            <li class="inverse-dark-blue" fxFlex>
              <img src="../../assets/img/dark-blue/strategy-planning.png"/><br/>
              Report generation
            </li>
            <li class="inverse-dark-blue" fxFlex>
              <img src="../../assets/img/dark-blue/information-security.png"/><br/>
              Excel extrapolation
            </li>
          </ul>
        </div>

        <!-- <div class="row">
            <div class="tab-content col-md-12">
                <div class="tab-pane fade" id="Goal1">
                    <p></p>
                </div>
            </div>
        </div> -->

      </div>
      <!-- / Second row -->

      <!-- Third row -->
      <div fxLayout="row">
        <div class="hidden-sm hidden-xs">
          <div class="frame">
            <div class="tab">
              <div class="caption inverse-dark-blue">Offerings</div>
            </div>
          </div>
        </div>

        <ul class="nav nav-tabs" style="width: 100%"
            fxLayoutAlign="stretch" fxLayoutGap="0px"
            fxLayout.xs="column" fxLayoutGap.xs="0px">
          <li class="inverse-dark-blue" fxFlex>
            <img src="../../assets/img/dark-blue/cloudbc.png"/><br/>
            AI dashboard
          </li>
          <li class="inverse-dark-blue" fxFlex>
            <img src="../../assets/img/dark-blue/developers-exchange.png"/><br/>
            Convolutional Neural Networks
          </li>
          <li class="inverse-dark-blue" fxFlex>
            <img src="../../assets/img/dark-blue/my-service-centre.png"/><br/>
            Dataset merging
          </li>
          <li class="inverse-dark-blue" fxFlex>
            <img src="../../assets/img/dark-blue/bc-services-card.png"/><br/>
            Predictions
          </li>
          <li class="inverse-dark-blue" fxFlex>
            <img src="../../assets/img/dark-blue/mobile-device-management.png"/><br/>
            Medical diagnoses
          </li>
          <li class="inverse-dark-blue" fxFlex>
            <img src="../../assets/img/dark-blue/network-modernization.png"/><br/>
            Health records
          </li>
          <li class="inverse-dark-blue" fxFlex>
            <img src="../../assets/img/dark-blue/imit-talent.png"/><br/>
            Python; R; SQL; Scala; &etc.
          </li>
        </ul>
      </div>
      <div class="row" *ngIf="false">
        <div class="tab-content col-md-12">
          <div class="tab-pane fade" id="CloudBC">
            <p>Cloud computing offers many benefits including: business agility, better time to
              market, fewer operational issues and less capital expense.</p>
          </div>
          <div class="tab-pane fade" id="DevelopersExchange">
            <p>DevelopersExchange DevelopersExchange</p>
          </div>
          <div class="tab-pane fade" id="ServiceCentre">
            <p>ServiceCentre ServiceCentre</p>
          </div>
          <div class="tab-pane fade" id="SevicesCard">
            <p>SevicesCard SevicesCard</p>
          </div>
          <div class="tab-pane fade" id="MobileDevice">
            <p>MobileDevice MobileDevice</p>
          </div>
          <div class="tab-pane fade" id="NetworkModernization">
            <p>NetworkModernization NetworkModernization</p>
          </div>
          <div class="tab-pane fade" id="StreamSuccession">
            <p>StreamSuccession StreamSuccession</p>
          </div>
        </div>
      </div>
      <!-- / Third row -->

    </div>
  </div>
</div>


<div id="footer">
  <a (click)="scrollToTop()">
    <img src="../../assets/img/extra/back-to-top.png"
         alt="Back to top" title="Back to top"
         class="back-to-top footer-overlap"
         style="display: block;">
  </a>
  <div id="footerWrapper">
    <div id="footerAdminSection">
      <div id="footerAdminLinksContainer" class="container">
        <div id="footerAdminLinks" class="row">
          <ul class="inline">
            <li>
              <a routerLink="/">Home</a>
            </li>
            <li>
              <a routerLink="docs/getting-started">Getting started</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="docs-homepage-promo">
  <div class="docs-homepage-row logo-row" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="20px">
    <a href="https://dcos.io" target="_blank" class="svg-logo">
      <app-svg-viewer style="display: flex;"
      src="../../assets/img/logos/dcos-logo.svg"></app-svg-viewer>
    </a>
    <img (click)="openHref('https://azure.microsoft.com')" width="50%" src="../assets/img/logos/azure.png"/>
    <a href="https://www.ibm.com/cloud" target="_blank" class="svg-logo">
      <app-svg-viewer style="min-width: 150px"
                      src="../assets/img/logos/ibm-cloud.svg"></app-svg-viewer>
    </a>
    <img (click)="openHref('https://sydney.edu.au')" width="50%" src="../assets/img/logos/usyd.png"/>
  </div>
  <div class="docs-homepage-bottom-start">
    <a href="mailto:samuel@offscale.io" mat-raised-button class="button" color="primary">Email</a>
  </div>
</div>
-->
