<app-navbar>
  <div class="text-size-xl text-center m-v-lg" style="padding-bottom: 0;">
    Scale from a single developer and server to<br/> 100s of engineering teams and 10,000 nodes.
  </div>
</app-navbar>

<section class="center" fxLayout="column" style="padding: 0 18%" ngStyle.lt-md="padding: 0">
  <div class="m-v-lg text-size-lg" fxFlex="100" style="padding: 0 10px">
    Develop anywhere; deploy everywhere.
  </div>


  <div fxLayout="row" fxLayout.lt-md="column" fxFlex="100">
    <div fxFlex="33">
      <!--<img src="/assets/dial-multicloud.svg"/>-->
      <h2>Cross-platform</h2>
      <p>Build and release for multiple platforms, including:</p>
      <div fxLayout="row">
        <ul fxFlex="50">
          <li>Windows</li>
          <li>Linux</li>
          <li>macOS</li>
          <li>iOS</li>
          <li>Android</li>
          <li>web</li>
        </ul>
        <ul>
          <li>FreeBSD</li>
          <li>OpenBSD</li>
          <li>Solaris (OpenSolaris &rarr; illumos &rarr; OpenIndiana)</li>
        </ul>
      </div>
    </div>

    <div fxFlex="33">
      <!--<img src="/assets/dial-distributed.svg"/>-->
      <h2>Multicloud</h2>
      <p>Deploy and manage across any of 50+ different public and private cloud providers,
        including:</p>
      <div fxLayout="row">
        <ul fxFlex="50">
          <li>AWS</li>
          <li>Microsoft Azure</li>
          <li>Google Cloud</li>
          <li>IBM Cloud</li>
          <li>ovh</li>
        </ul>
        <ul>
          <li>openstack</li>
          <li>Apache cloudstack</li>
          <li>Joyent</li>
          <li>Rackspace</li>
        </ul>
      </div>
    </div>

    <div fxFlex="33">
      <!--<img src="/assets/dial-ml.svg"/>-->
      <h2>Machine Learning and Artificial Intelligence</h2>
      <p>Meta-framework built supporting:</p>
      <div fxLayout="row">
        <ul fxFlex="50">
          <li>TensorFlow</li>
          <li>Keras</li>
          <li>PyTorch</li>
          <li>XGBoost</li>
        </ul>
        <ul>
          <li>scikit.learn</li>
          <li>JAX</li>
          <li>Trax</li>
          <li>Flax</li>
        </ul>
      </div>
    </div>
  </div>

  <div fxLayout="row" fxLayout.lt-md="column" fxFlex="100">
    <div fxFlex="33">
      <!--<img src="/assets/dial-multicloud.svg"/>-->
      <h2>Multilingual compilers</h2>
      <p>Automatically translate code between languages. Speedup code creation, improve consistency, and increase doc
        &amp; test coverage.</p>
      <div fxLayout="row">
        <ul fxFlex="50">
          <li>Swift (iOS)</li>
          <li>Java (Android)</li>
          <li>Kotlin (Android)</li>
        </ul>
        <ul>
          <li>Rust</li>
          <li>Python</li>
          <li>TypeScript (web)</li>
        </ul>
      </div>
    </div>

    <div fxFlex="33">
      <!--<img src="/assets/dial-distributed.svg"/>-->
      <h2>Multicluster</h2>
      <p>Deploy, manage, and maintain multiple Docker containers at scale with Kubernetes.</p>
      <p>Coordinate multiple distributed systems in the one cluster with Apache Mesos.</p>
      <p>Major C++ contributions to Mesos, and major Go contributions to Kubernetes.</p>
    </div>

    <div fxFlex="33">
      <!--<img src="/assets/dial-heart.svg"/>-->
      <h2>100% open source</h2>
      <p>(Apache-2.0 OR MIT) licensed. Totally free.
      </p>
      <div fxLayout="row">
        <ul fxFlex="50">
          <li>344 repos on GitHub</li>
        </ul>
        <ul>
          <li>226 of which are original (not
            forks)
          </li>
        </ul>
      </div>
    </div>
  </div>

</section>

<section class="">
  <div class="flex-container desktop-flex-rows fixed-width-lg m-v-lg flex-space-between">
    <div>
      <img src="/assets/cdd-diagram.svg" width="100%" alt="CDD diagram"/>
    </div>
    <div>
      <div class="text-bold text-size-md">Compilers</div>
      <p>
        The key differentiator in <a href="https://compilers.com.au" target="_blank">our approach</a>, is that we
        explicitly and
        statically traverse the AST of each language, in each language, then
        code-generate merged changes.
      </p>

      <div class="text-bold text-size-md">Infrastructure</div>
      <p>
        Stop relying on database as a Service (DBaaS), container as a Service (caaS), platform as a Service (PaaS).
        Switch been vendors, be portable, use aaS when relevant threshold is met.
      </p>

      <div class="text-bold text-size-md">Machine-learning and Artificial Intelligence</div>
      <p>
        Our founder submitted his PhD (Medicine), 40% of which was in ML/AI.
        He noticed that breakthroughs were siloed to specific vendors.
        So we created a multi ML framework to use whatever vendors' innovations.
      </p>

      <div class="text-bold text-size-md">Open Source</div>
      <p>
        (Apache-2.0 OR MIT) licensed, enabling maximum integration with any of
        your systems, e.g. IDEs, and version control systems (with CI/CD
        pipelines).
      </p>
    </div>
  </div>
</section>

<section class="case_study p-v-lg center" fxLayout="column">
  <div fxFlex="auto" class="m-v-md text-size-lg">Software-engineering consulting</div>
  <a fxFlex="auto" href="mailto:samuel@offscale.io" class="btn btn-primary m-v-md center" fxFlexAlign="center">
    get in touch
  </a>
</section>

<footer fxLayout="row" fxLayoutAlign="center center"
        style="padding: 40px 0 40px 90px" ngStyle.lt-md="{'padding': 0 40px}"
        class="text-center">
  <a fxFlex="auto" routerLink="/">
    <h1>offscale.io</h1>
    <h3>engineering and<br/>research that scales</h3>
  </a>
  <div fxFlex>
    &copy; 2018&ndash;2021
  </div>
</footer>
