<header class="docs-header-background">
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <h1 class="mat-h1" style="color: whitesmoke">offscale.io</h1>
      <h2>Expensive problems; solved</h2>
    </div>
    <div class="docs-header-start">
      <a mat-raised-button class="button" color="primary"
         href="mailto:samuel@offscale.io">Email</a>
    </div>
  </div>
</header>

<button mat-raised-button color="accent" routerLink="/docs/getting-started">
  Technical docs
</button>

<section style="background-color: black; padding: 10px 0 10px 35px">
  <dl style="color: white">
    <dt><strong>Achievements</strong></dt>
    <dd>showed Telstra how to save 100M;</dd>
    <dd>engineered for Data Republic to raise 10.5M;</dd>
    <dd>developed a Startup for high-net-worth for 1yr (penthouse, J.P. Morgan building)</dd>
  </dl>
</section>
<div class="docs-homepage-promo">
  <div class="docs-homepage-row">
    <div class="docs-homepage-promo-img">
      <img width="80%"
        src="assets/img/homepage/mesosphere.png" alt="Mesosphere" />
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>MultiCloud and MultiCluster DevOps</h2>
      <p>High-availability deployments to 50+ different hybrid/public/private clouds with our open-source provisioning
        and orchestration tools.</p>
    </div>
  </div>
  <div class="docs-homepage-row docs-homepage-reverse-row">
    <div class="docs-homepage-promo-img">
      <app-svg-viewer
        src="../assets/img/homepage/fastandconsistent.svg"
        scaleToContainer="true"></app-svg-viewer>
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>Software engineering consulting</h2>
      <p>Solving your business problems by building custom platforms in a myriad of languages. E.g.: C++, Python, Rust,
        Go, SQL, TypeScript, Java, Swift</p>
    </div>
  </div>
  <div class="docs-homepage-row">
    <div class="docs-homepage-promo-img">
      <app-svg-viewer
        src="../assets/img/homepage/versatile.svg"
        scaleToContainer="true"></app-svg-viewer>
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>eLearning / MOOCs</h2>
      <p>Custom technologies and extended open-source (OpenEdX) approached to LMS and MOOCs. Running various courses
        with the University of Sydney, Sydney Eye Hospital, Sydney Medical School.</p>
    </div>
  </div>
  <div class="docs-homepage-row docs-homepage-reverse-row">
    <div class="docs-homepage-promo-img">
      <app-svg-viewer
        src="../assets/img/homepage/optimized.svg"
        scaleToContainer="true"></app-svg-viewer>
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>Big Data Artificial Intelligence (Machine Learning)</h2>
      <p>Large-scale custom pipelines handling serious scale to solve difficult problems. Currently targeting automated
        medical diagnoses in ophthalmology. Open-sourcing.</p>
    </div>
  </div>
  <div class="docs-homepage-row logo-row" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="20px">
    <a href="https://dcos.io" target="_blank" class="svg-logo">
      <app-svg-viewer style="display: flex;"
      src="../assets/img/logos/dcos-logo.svg"></app-svg-viewer>
    </a>
    <img (click)="openHref('https://azure.microsoft.com')" width="50%" src="../assets/img/logos/azure.png"/>
    <a href="https://www.ibm.com/cloud" target="_blank" class="svg-logo">
      <app-svg-viewer style="min-width: 150px"
                      src="../assets/img/logos/ibm-cloud.svg"></app-svg-viewer>
    </a>
    <img (click)="openHref('https://sydney.edu.au')" width="50%" src="../assets/img/logos/usyd.png"/>
  </div>
  <div class="docs-homepage-bottom-start">
    <a href="mailto:samuel@offscale.io" mat-raised-button class="button" color="primary">Email</a>
  </div>
</div>
