.docs-footer {
  padding: 12px;
  font-size: 12px;
}

.docs-footer-list {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding: 8px;
}

.docs-footer-angular-logo {
  height: 50px;
}

.docs-footer-copyright {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.docs-footer-links ul {
  list-style: none;
  margin: 0 40px;
  padding: 0;

  a {
    font-size: 16px;
    padding: 0;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 884px) {
  .docs-footer-list {
    flex-direction: column;
  }
}

// New footer

#footerWrapper {

}

#footer.expanded {
  z-index: 1040;
}

#footer a, #footer h2 {
  color: #fff;
}

#footer h2 {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 22px;
  padding-right: 20px;
}

#footer hr {
  background: none repeat scroll 0 0 #4b5e73;
  border: 0 none;
  height: 1px;
  margin: 10px 0;
}

#footer {
  /* 	position: absolute; */
  width: 100%;
  bottom: 0;
  background-color: transparent;
  border-top: 2px solid #fcba19;
  position: relative;
  z-index: 1;
}

#footerAdminSection {
  background-color: #003366;
  padding: 0.5em 0;
  opacity: .8;
}

a {
  font-weight: bold;
}

a:hover {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent;
}

ul.inline {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

ul.inline li {
  float: left;
  padding: 2px 10px;
  position: relative;
}

@media (min-width: 768px) {
  ul.inline li + li {
    border-left: 1px solid #4b5e73;
  }
}

ul.inline li a:link, nav ul.inline li a:visited {
  color: white;
  display: block;
  text-align: center;
}

#infoi {
  position: absolute;
  top: 0;
  right: 1em;
}
