			<!-- footer -->
			<footer>
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h6 class="legal">
							Copyright &copy; <%= Time.now.year %> Offscale.io
							<br>
							<br>
							stdin: is not a tty
						</h6>
					</div>
				</div> <!-- row -->

			</div> <!-- container -->
			</footer>
