<section class="hero flex-direction-column">
  <nav class="flex-direction-row" style="padding-top: 20px; margin-bottom: 20px">
    <a class="gt-md-width-pc-50" routerLink="/">
      <h1>offscale.io</h1>
      <h3>engineering and<br/>research that scales</h3>
    </a>
    <h1>
      <a href="https://github.com/offscale">
        <img alt="GitHub repos for Offscale"
             width="51" height="50" id="github-logo"
             ngSrc="/assets/github-white.svg" />
      </a>
    </h1>
  </nav>
  <nav class="flex-direction-row" style="background: steelblue; color: whitesmoke">
    New: <a href="https://verMan.io" target="_blank">verMan.io</a> released for 1-click deploys: any &lbrace;ML,database,server&rbrace;
    any &lbrace;cloud,VM,docker,machine&rbrace; from/to any OS
  </nav>
  <ng-content></ng-content>
</section>
