<div class="main-content">
  <!-- First content group -->
  <div class="vertical-wrapper" id="cloud_and_auto">
    <!-- Left vertical area -->
    <div fxShow.sm="false" fxShow.xs="false">
      <div class="frame">
        <div class="tab blue">
          <div class="tab-rounded"></div>
          <div class="caption"><h3><b>Cloud</b> migration &amp; infrastructure automation</h3></div>
        </div>
      </div>
    </div>
    <!-- / Left vertical area -->

    <!-- First row -->
    <div style="width: 100%">
      <div class="vertical-wrapper">
        <div fxShow.sm="false" fxShow.xs="false">
          <div class="frame">
            <div class="tab">
              <div class="caption inverse-blue">Multicloud</div>
            </div>
          </div>
        </div>

        <ul class="nav nav-tabs"
            fxLayoutGap="20px" fxLayout.xs="column" fxLayoutGap.xs="2px">
          <li (click)="multicloud = 'aws'" fxFlex>
            <img class="svg cloud-logo" fxShow.sm="false" fxShow.xs="false"
                 src="../../assets/img/logos/Amazon_Web_Services_Logo.svg"/>
            <h1 class="inverse-blue">Amazon Web Services (AWS)</h1>
          </li>
          <li (click)="multicloud = 'azure'" fxFlex>
            <img class="svg cloud-logo" fxShow.sm="false" fxShow.xs="false" src="../../assets/img/logos/azure.svg"/>
            <h1 class="inverse-blue">Microsoft Azure</h1>
          </li>
          <li (click)="multicloud = 'ibm'" fxFlex>
            <img class="svg cloud-logo" fxShow.sm="false" fxShow.xs="false" src="../../assets/img/logos/ibm_cloud.png"/>
            <h1 class="inverse-blue">IBM Cloud</h1>
          </li>
          <li (click)="multicloud = 'clouds'" fxFlex>
            <img class="svg cloud-logo" fxShow.sm="false" fxShow.xs="false"
                 src="../../assets/img/logos/mesosphere.svg"/>
            <h1 class="inverse-blue">50+ others (public &amp; private)</h1>
          </li>
        </ul>
      </div>
      <div class="left-margin" *ngIf="multicloud">
        <div *ngIf="multicloud === 'aws'" [@fade]>
          <p>AWS is the most popular cloud provider. We fully support usage of AWS services, however have a preference
            for using EC2 nodes over there more managed services. Advantages: stack is portable between cloud
            providers; extensibility; and optimised data locality (especially useful for data analytics).</p>
        </div>
        <div *ngIf="multicloud === 'azure'" [@fade]>
          <p>Azure&mdash;like Amazon and IBM&mdash;have a huge number of datacentres and features. Some of their
            significant internals are based on Mesosphere (you can see <a
              href="https://www.youtube.com/watch?v=AwniOpsMP4E" target="_blank">their CTO speaking here</a>).</p>
        </div>
        <div *ngIf="multicloud === 'ibm'" [@fade]>
          <p>IBM's offering is particularly useful for data analytics workloads, as they don't charge for inter-node
            communication (including across datacentres).</p>
        </div>
        <div *ngIf="multicloud === 'clouds'" [@fade]>
          <p>OpenStack is just one of the >50 public and private cloud providers we support. Full list follows.</p>

          <mat-grid-list [cols]="cols | async" rowHeight="25">
            <mat-grid-tile>Abiquo</mat-grid-tile>
            <mat-grid-tile>CloudSigma (API v2.0)</mat-grid-tile>
            <mat-grid-tile>HostVirtual</mat-grid-tile>
            <mat-grid-tile>Outscale INC</mat-grid-tile>
            <mat-grid-tile>Linode</mat-grid-tile>
            <mat-grid-tile>Exoscale</mat-grid-tile>
            <mat-grid-tile>ElasticHosts</mat-grid-tile>
            <mat-grid-tile>1and1</mat-grid-tile>
            <mat-grid-tile>Kili Public Cloud</mat-grid-tile>
            <mat-grid-tile>OpenStack</mat-grid-tile>
            <mat-grid-tile>BSNL</mat-grid-tile>
            <mat-grid-tile>Ovh</mat-grid-tile>
            <mat-grid-tile>PCextreme AuroraCompute</mat-grid-tile>
            <mat-grid-tile>Rackspace Cloud (Next Gen)</mat-grid-tile>
            <mat-grid-tile>vCloud</mat-grid-tile>
            <mat-grid-tile>RimuHosting</mat-grid-tile>
            <mat-grid-tile>OpenNebula (v3.8)</mat-grid-tile>
            <mat-grid-tile>Nimbus</mat-grid-tile>
            <mat-grid-tile>Google Compute Engine</mat-grid-tile>
            <mat-grid-tile>Aliyun ECS</mat-grid-tile>
            <mat-grid-tile>Libvirt</mat-grid-tile>
            <mat-grid-tile>GoGrid</mat-grid-tile>
            <mat-grid-tile>vps.net</mat-grid-tile>
            <mat-grid-tile>Cloudwatt</mat-grid-tile>
            <mat-grid-tile>Ikoula</mat-grid-tile>
            <mat-grid-tile>Indosat</mat-grid-tile>
            <mat-grid-tile>Voxel VoxCLOUD</mat-grid-tile>
            <mat-grid-tile>Eucalyptus</mat-grid-tile>
            <mat-grid-tile>OnApp</mat-grid-tile>
            <mat-grid-tile>NephoScale</mat-grid-tile>
            <mat-grid-tile>KTUCloud</mat-grid-tile>
            <mat-grid-tile>Amazon Web Services (AWS)</mat-grid-tile>
            <mat-grid-tile>NTTAmerica</mat-grid-tile>
            <mat-grid-tile>VCL</mat-grid-tile>
            <mat-grid-tile>Bluebox Blocks</mat-grid-tile>
            <mat-grid-tile>Brightbox</mat-grid-tile>
            <mat-grid-tile>Joyent</mat-grid-tile>
            <mat-grid-tile>CloudStack</mat-grid-tile>
            <mat-grid-tile>ProfitBricks</mat-grid-tile>
            <mat-grid-tile>MedOne</mat-grid-tile>
            <mat-grid-tile>Gandi</mat-grid-tile>
            <mat-grid-tile>DimensionData</mat-grid-tile>
            <mat-grid-tile>Enomaly Elastic Computing Platform</mat-grid-tile>
            <mat-grid-tile>Rackspace Cloud (First Gen)</mat-grid-tile>
            <mat-grid-tile>SoftLayer</mat-grid-tile>
            <mat-grid-tile>skalicloud</mat-grid-tile>
            <mat-grid-tile>Packet</mat-grid-tile>
            <mat-grid-tile>Outscale SAS</mat-grid-tile>
            <mat-grid-tile>InternetSolutions</mat-grid-tile>
            <mat-grid-tile>DigitalOcean</mat-grid-tile>
            <mat-grid-tile>ServerLove</mat-grid-tile>
            <mat-grid-tile>Vagrant (incl. local VMs)</mat-grid-tile>
            <mat-grid-tile>Cloudscale</mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>
      <!-- First row | 100 hours; -->

      <!-- Second row -->
      <div class="vertical-wrapper" style="margin-bottom: 1em">
        <div fxShow.sm="false" fxShow.xs="false">
          <div class="frame">
            <div class="tab">
              <div class="caption inverse-blue">Approach</div>
            </div>
          </div>
        </div>

        <ul class="nav nav-tabs circle-parent"
            fxLayoutGap="20px" fxLayout.xs="column" fxLayoutGap.xs="2px">
          <li (click)="approach = 'devops'" class="inverse-blue dashed-border"
              fxFlex>
            <h1>Goal 1<br/>Automate infrastructure deployment
              (DevOps)</h1>
          </li>
          <li (click)="approach = 'rebuild_apps'" class="inverse-blue dashed-border"
              fxFlex>
            <h1>Goal 2<br/>Upgrade applications to
              'cloud-native'</h1>
          </li>
          <li (click)="approach = 'elastic'" class="inverse-blue dashed-border"
              fxFlex>
            <h1>Goal 3<br/>Elastic scaling</h1>
          </li>
        </ul>
      </div>

      <div *ngIf="approach === 'devops'" [@fade]>
        <p>Automating infrastructure has been a focus of ours since 2009 with ControlTier. Nowadays we focus on: Fabric,
          Ansible, Puppet, Chef, Salt &amp; etc.; with a concentration on: OS-specific packaging; Docker, and PaaS.
          Thereby removing the need for permanament DevOps engineers for anything smaller than large enterprise.</p>
      </div>
      <div *ngIf="approach === 'rebuild_apps'" [@fade]>
        <p>Using principles popularised by <a href="https://12factor.net" target="_blank">Heroku with 12-factor apps</a>
          and <a href="https://www.ics.uci.edu/~fielding/pubs/dissertation/rest_arch_style.htm" target="_blank">Roy
            Fielding with REST</a>, we re-engineer old stacks to be vertically scalable. Distributing degrees of
          failures, modularising to encourage independent evolvability, all enable more teams to join projects
          (collaborating without requiring discussion).</p>
      </div>
      <div *ngIf="approach === 'elastic'" [@fade]>
        <p>Grow from 1 server to 10,000+. Develop around DNS with health checks (such as Consul or Mesos DNS), so that
          your applications know when they're online, finished, or are at capacity (and can act accordingly).</p>
      </div>

      <!-- / Second row -->

      <!-- Third row -->

      <div class="vertical-wrapper">
        <div fxShow.sm="false" fxShow.xs="false">
          <div class="frame">
            <div class="tab">
              <div class="caption wrap inverse-blue">Key technologies</div>
            </div>
          </div>
        </div>
        <div style="width: 100%">
          <ul class="nav nav-tabs circle-parent"
              fxLayoutGap="20px" fxLayout.xs="column" fxLayoutGap.xs="2px">
            <li fxFlex>
              <img class="logo" src="../../assets/img/logos/docker.png" alt="Docker"/>
            </li>
            <li fxFlex>
              <img class="logo" src="../../assets/img/logos/mesosphere.svg" alt="Mesosphere DC/OS">
            </li>
            <li fxFlex>
              <img class="logo" src="../../assets/img/logos/etcd-logo.png" alt="etcd">
            </li>
            <li fxFlex>
              <img class="logo" src="../../assets/img/logos/github.png" alt="github.com/offscale">
            </li>
          </ul>
        </div>
      </div>

      <div *ngIf="false">
        <div class="tab-content">
          <div class="tab-pane fade" id="docker">
            <p>docker docker</p>
          </div>
          <div class="tab-pane fade" id="dcos">
            <p>dcos dcos</p>
          </div>
          <div class="tab-pane fade" id="EngagePeople">
            <p>EngagePeople EngagePeople</p>
          </div>
          <div class="tab-pane fade" id="github">
            <p>github github</p>
          </div>
        </div>
      </div>
      <!-- / Third row -->


      <!-- Fourth row -->
      <div class="vertical-wrapper">
        <div fxShow.sm="false" fxShow.xs="false">
          <div class="frame">
            <div class="tab">
              <div class="caption wrap inverse-blue">Philosophy</div>
            </div>
          </div>
        </div>

        <ul class="nav nav-tabs blue" fxLayout="row" style="border-radius: 0 0 15px 15px;">
          <li>
            <h1 class="small">Fully automate infrastructure, deployments and mobilise your
              stack portable.</h1>
          </li>
        </ul>

        <div *ngIf="false">
          <div class="tab-content">
            <div class="tab-pane fade" id="MinistryVision">
              <p>MinistryVision MinistryVision</p>
            </div>
          </div>
        </div>
      </div>

      <!-- / Fourth row -->
    </div>
  </div>
  <!-- / First content group -->


  <!-- Second content group -->
  <div class="vertical-wrapper" id="software_engineering">
    <!-- Left vertical area -->
    <div fxShow.sm="false" fxShow.xs="false">
      <div class="frame">
        <div class="tab green">
          <div class="tab-rounded"></div>
          <div class="caption"><h3>Scalable software development</h3></div>
        </div>
      </div>
    </div>
    <!-- / Left vertical area -->

    <!-- First row -->
    <div style="width: 100%">
      <div class="vertical-wrapper ocio-mission">
        <div fxShow.sm="false" fxShow.xs="false">
          <div class="frame">
            <div class="tab">
              <div class="caption wrap inverse-green">Idea</div>
            </div>
          </div>
        </div>

        <ul class="nav nav-tabs green" fxLayout="row" style="border-radius: 15px 15px 0 0;">
          <li>
            <h1 class="small">Never engineer with one application in mind: think platform; think framework</h1>
          </li>
        </ul>
      </div>
      <!-- / First row -->


      <!-- Second row -->
      <div class="vertical-wrapper">
        <div fxShow.sm="false" fxShow.xs="false">
          <div class="frame">
            <div class="tab">
              <div class="caption inverse-green">Full-stack</div>
            </div>
          </div>
        </div>


        <ul class="nav nav-tabs"
            fxLayoutGap="20px"
            fxLayout.xs="column" fxLayoutGap.xs="2px">
          <li fxFlex>
            <div class="inverse-green">
              <h2>STORAGE</h2>
              <mat-icon class="success-logo">storage</mat-icon>
              <br/>
              Distributed file systems, databases, caches and queues
            </div>
          </li>
          <li fxFlex>
            <div class="inverse-green">
              <h2>ANDROID</h2>
              <mat-icon class="success-logo">android</mat-icon>
              <br/>
              Native Java development
            </div>
          </li>
          <li fxFlex>
            <div class="inverse-green">
              <h2>iOS</h2>
              <mat-icon class="success-logo">phone_iphone</mat-icon>
              <br/>
              Native Swift development
            </div>
          </li>
          <li fxFlex>
            <div class="inverse-green">
              <h2>WEB</h2>
              <i class="devicon-angularjs-plain success-logo"></i>
              <br/>
              Angular (TypeScript) development
            </div>

          </li>
          <li fxFlex>
            <div class="inverse-green">
              <h2>REST API</h2>
              <i class="devicon-nodejs-plain success-logo"></i>
              <br/>
              Node.js;<br/>
              Python;<br/>
              C++; Rust; &etc.
            </div>
          </li>
        </ul>

        <!-- <div >
            <div class="tab-content">
                <div class="tab-pane fade" id="Goal1">
                    <p></p>
                </div>
            </div>
        </div> -->

      </div>
      <!-- / Second row -->

      <!-- Third row -->
      <div fxLayout="row">
        <div fxShow.sm="false" fxShow.xs="false">
          <div class="frame">
            <div class="tab">
              <div class="caption inverse-green">Strategic Goals</div>
            </div>
          </div>
        </div>

        <ul class="nav nav-tabs" fxLayout.xs="column">
          <li class="puzzle puzzle-top" fxFlex>
            <div class="puzzle-background dark-green goal1">
              <h1 class="puzzle-text">
                DECOUPLE
              </h1>
            </div>
            <div class="puzzle-circle white right" fxShow.xs="false"></div>
            <div class="puzzle-circle dark-green right" fxShow.xs="false"></div>
          </li>
          <li class="puzzle" fxFlex>
            <div class="puzzle-background green goal2">
              <h1 class="puzzle-text">
                DECOMPOSE
              </h1>
            </div>
          </li>
          <li class="puzzle puzzle-top" fxFlex>
            <div fxShow.xs="false">
              <div class="puzzle-circle white left"></div>
              <div class="puzzle-circle dark-green left"></div>
              <div class="puzzle-circle white right"></div>
              <div class="puzzle-circle dark-green right"></div>
            </div>
            <div class="puzzle-background dark-green goal3">
              <h1 class="puzzle-text">
                DEPLOY
              </h1>
            </div>
          </li>
          <li class="puzzle" fxFlex>
            <div class="puzzle-background green goal4">
              <h1 class="puzzle-text">
                DELIVER
              </h1>
            </div>
          </li>
        </ul>
      </div>
      <div *ngIf="false">
        <div class="tab-content">
          <div class="tab-pane fade" id="EnableDigital">
            <p>EnableDigital EnableDigital</p>
          </div>
          <div class="tab-pane fade" id="MaximizeValue">
            <p>MaximizeValue MaximizeValue</p>
          </div>
          <div class="tab-pane fade" id="EngagedWorkforce">
            <p>EngagedWorkforce EngagedWorkforce</p>
          </div>
          <div class="tab-pane fade" id="OperationalExcellence">
            <p>OperationalExcellence OperationalExcellence</p>
          </div>
        </div>
      </div>
      <!-- / Third row -->

    </div>
  </div>
  <!-- / Second content group -->
  <div class="vertical-wrapper" id="data_analytics">
    <!-- Left vertical area -->
    <div fxShow.sm="false" fxShow.xs="false">
      <div class="frame">
        <div class="tab dark-blue">
          <div class="tab-rounded"></div>
          <div class="caption"><h3>Data analytics</h3></div>
        </div>
      </div>
    </div>
    <!-- / Left vertical area -->

    <!-- First row -->
    <div style="width: 100%">
      <div class="vertical-wrapper">
        <div fxShow.sm="false" fxShow.xs="false">
          <div class="frame">
            <div class="tab">
              <div class="caption inverse-dark-blue">Core</div>
            </div>
          </div>
        </div>


        <ul class="nav nav-tabs" fxLayout.xs="column">
          <li class="inverse-dark-blue" fxFlex>
            <img src="../../assets/img/dark-blue/devices-and-productivity.png"/><br/>
            Artificial Intelligence
          </li>
          <li class="inverse-dark-blue" fxFlex>
            <img src="../../assets/img/dark-blue/it-service-delivery.png"/><br/>
            Natural Language Processing
          </li>
          <li class="inverse-dark-blue" fxFlex>
            <img src="../../assets/img/dark-blue/imit-capital-investment.png"/><br/>
            Multivariate regression
          </li>
          <li class="inverse-dark-blue" fxFlex>
            <img src="../../assets/img/dark-blue/policy-standards-architecture.png"/><br/>
            Research focussed (PhD+)
          </li>
          <li class="inverse-dark-blue" fxFlex>
            <img src="../../assets/img/dark-blue/strategy-planning.png"/><br/>
            Report generation
          </li>
          <li class="inverse-dark-blue" fxFlex>
            <img src="../../assets/img/dark-blue/information-security.png"/><br/>
            Excel extrapolation
          </li>
        </ul>

        <!-- <div >
            <div class="tab-content">
                <div class="tab-pane fade" id="Goal1">
                    <p></p>
                </div>
            </div>
        </div> -->

      </div>
      <!-- / Second row -->

      <!-- Third row -->
      <div fxLayout="row">
        <div fxShow.sm="false" fxShow.xs="false">
          <div class="frame">
            <div class="tab">
              <div class="caption inverse-dark-blue">Offerings</div>
            </div>
          </div>
        </div>

        <ul class="nav nav-tabs" fxLayout.xs="column">
          <li class="inverse-dark-blue" fxFlex>
            <mat-icon style="font-size: 3em">dashboard</mat-icon>
            <br>
            AI dashboard
          </li>
          <li class="inverse-dark-blue" fxFlex>
            <img src="../../assets/img/dark-blue/developers-exchange.png"/><br/>
            Convolutional Neural Networks
          </li>
          <li class="inverse-dark-blue" fxFlex>
            <img src="../../assets/img/dark-blue/my-service-centre.png"/><br/>
            Dataset merging
          </li>
          <li class="inverse-dark-blue" fxFlex>
            <img src="../../assets/img/dark-blue/bc-services-card.png"/><br/>
            Predictions
          </li>
          <li class="inverse-dark-blue" fxFlex>
            <img src="../../assets/img/dark-blue/mobile-device-management.png"/><br/>
            Medical diagnoses
          </li>
          <li class="inverse-dark-blue" fxFlex>
            <img src="../../assets/img/dark-blue/imit-talent.png"/><br/>
            Python; R; SQL; Scala; &etc.
          </li>
        </ul>
      </div>
      <div *ngIf="false">
        <div class="tab-content">
          <div class="tab-pane fade" id="CloudBC">
            <p>Cloud computing offers many benefits including: business agility, better time to
              market, fewer operational issues and less capital expense.</p>
          </div>
          <div class="tab-pane fade" id="DevelopersExchange">
            <p>DevelopersExchange DevelopersExchange</p>
          </div>
          <div class="tab-pane fade" id="ServiceCentre">
            <p>ServiceCentre ServiceCentre</p>
          </div>
          <div class="tab-pane fade" id="SevicesCard">
            <p>SevicesCard SevicesCard</p>
          </div>
          <div class="tab-pane fade" id="MobileDevice">
            <p>MobileDevice MobileDevice</p>
          </div>
          <div class="tab-pane fade" id="NetworkModernization">
            <p>NetworkModernization NetworkModernization</p>
          </div>
          <div class="tab-pane fade" id="StreamSuccession">
            <p>StreamSuccession StreamSuccession</p>
          </div>
        </div>
      </div>
      <!-- / Third row -->

    </div>
  </div>
</div>
