<header class="header-background">
  <div class="header-section">
    <div class="header-headline">
      <h1 class="mat-h1" style="color: whitesmoke">offscale.io</h1>
      <h2>Expensive problems; solved</h2>
    </div>
    <div class="header-start">
      <a mat-raised-button class="button" color="primary"
         href="mailto:samuel@offscale.io">Email</a>
    </div>
  </div>
</header>

<section style="background-color: black; padding: 10px 0 10px 35px">
  <dl  style="color: white">
    <dt><strong>Achievements</strong></dt>
    <dd>showed Telstra how to save 100M;</dd>
    <dd>engineered for Data Republic to raise 10.5M;</dd>
    <dd>developed a Startup for high-net-worth for 1yr (penthouse, J.P. Morgan building)</dd>
  </dl>
</section>
<div class="homepage-promo">
  <div class="homepage-row">
    <div class="homepage-promo-img">
      <offscale-svg-viewer
        src="../assets/img/multi-cloud.svg"
        scaleToContainer="true"></offscale-svg-viewer>
    </div>
    <div class="homepage-promo-desc">
      <h2>MultiCloud and MultiCluster DevOps</h2>
      <p>High-availability deployments to 50+ different hybrid/public/private clouds with our open-source provisioning and orchestration tools.</p>
    </div>
  </div>
  <div class="homepage-row homepage-reverse-row">
    <div class="homepage-promo-img">
      <offscale-svg-viewer
        src="../assets/img/homepage/fastandconsistent.svg"
        scaleToContainer="true"></offscale-svg-viewer>
    </div>
    <div class="homepage-promo-desc">
      <h2>Software engineering consulting</h2>
      <p>Solving your business problems by building custom platforms in a myriad of languages. E.g.: C++, Python, Rust, Go, SQL, TypeScript, Java, Swift</p>
    </div>
  </div>
  <div class="homepage-row">
    <div class="homepage-promo-img">
      <offscale-svg-viewer
        src="../assets/img/homepage/versatile.svg"
        scaleToContainer="true"></offscale-svg-viewer>
    </div>
    <div class="homepage-promo-desc">
      <h2>eLearning / MOOCs</h2>
      <p>Custom technologies and extended open-source (OpenEdX) approached to LMS and MOOCs. Running various courses with the University of Sydney, Sydney Eye Hospital, Sydney Medical School.</p>
    </div>
  </div>
  <div class="homepage-row homepage-reverse-row">
    <div class="homepage-promo-img">
      <offscale-svg-viewer
        src="../assets/img/homepage/optimized.svg"
        scaleToContainer="true"></offscale-svg-viewer>
    </div>
    <div class="homepage-promo-desc">
      <h2>Big Data Artificial Intelligence (Machine Learning)</h2>
      <p>Large-scale custom pipelines handling serious scale to solve difficult problems. Currently targeting automated medical diagnoses in ophthalmology. Open-sourcing.</p>
    </div>
  </div>
  <div class="homepage-row">
    <img (click)="openHref('https://dcos.io')" width="50%" src="../assets/img/blog/mesosphere-dcos.png" />
    <img (click)="openHref('https://softlayer.com')" width="50%" src="../assets/img/blog/ibm-softlayer.png" />
    <img (click)="openHref('https://sydney.edu.au')" width="50%" src="../assets/img/blog/usyd.png" />
  </div>
  <div class="homepage-bottom-start">
    <a href="mailto:samuel@offscale.io" mat-raised-button class="button" color="primary">Email</a>
  </div>
</div>

<offscale-app-footer></offscale-app-footer>
