<header class="docs-header-background">
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <h1 class="mat-h1">The open-source software engineering consultancy</h1>
      <h2>Complex applications, built with the latest stacks.</h2>
      <h3>Distributed systems, compilers, research, Big Data analytics platforms.</h3>
    </div>
    <!--
    <div class="docs-header-start">
      <a mat-raised-button class="docs-button" routerLink="/guide/getting-started">Get started</a>
    </div>
    -->
  </div>
</header>

<div class="well" fxLayout="column">
  Offscale.io is a software consultancy specialising in:
  <div class="btn-group btn-group-justified" role="group"
       fxLayout="row" fxLayoutGap="1px"
       fxLayout.xs="column">
    <button class="btn btn-info"
            fxFlex style="width: 100%"
            (click)="scrollToId('#cloud_and_auto')">
      cloud
    </button>
    <button class="btn btn-info"
            fxFlex style="width: 100%"
            (click)="scrollToId('#cloud_and_auto')">
      automation
    </button>
    <button class="btn btn-success"
            fxFlex style="width: 100%"
            (click)="scrollToId('#software_engineering')">
      software engineering
    </button>
    <button class="btn btn-primary"
            fxFlex style="width: 100%"
            (click)="scrollToId('#data_analytics')">
      data analytics
    </button>
  </div>
  <button class="btn primary-color"
          fxFlex style="text-transform: uppercase; border-radius: 0 0 15px 15px"
          (click)="scrollToId('#case_studies')">
    case studies
  </button>
</div>

<app-infographic></app-infographic>


<div style="padding: 20px" id="case_studies">
  <h1>Case studies</h1>

  <ng-vertical-tabs [multi]=true [selectFirstTab]=false [showSelectAll]=true>
    <ng-vertical-tab tabTitle="Finance">
      <h3>Stock market analytics platform</h3>
      Private client requisitioned a platform for the comparison of stocks across portfolios across markets (ASX and
      NYSE).
      We used 3 engineers to complete this project in Angular, Node.js and Postgres.

      <h3>User deidentified deduplication</h3>
      Reinventure&mdash;Westpac's VC firm&mdash;contracted to build a system to facilitate the deduplication of users
      across St George and Westpac, without being exposed to their actual identifiable information.
      Used Public Key Infrastructure (PKI), Python and Angular for this project.
    </ng-vertical-tab>

    <ng-vertical-tab tabTitle="Social networking">
      <h3>Social networking and analytics</h3>
      Roamz/LocalMeasure contracted to flesh out social-authentication (Tumblr, Facebook, Twitter, &amp;etc.) and
      rewrite Ruby stacks in Python.
    </ng-vertical-tab>

    <ng-vertical-tab tabTitle="Cloud computing">
      <h3>OrionVM</h3>
      Research done for the OrionVM IaaS cloud-computing multinational to improve resource allocation. Succeeded in
      devising a solution.One important outcome to my research was the improved per node maximum load, from
      <app-svg-viewer src="../assets/img/math/a.svg"></app-svg-viewer>
      to:
      <app-svg-viewer src="../assets/img/math/b.svg"></app-svg-viewer>
      , where <code>d</code>&ge;<code>2</code> and refers to the number of nodes chosen to make the decision.

      <h3>Offscale</h3>
      Open-source focus.
      Abstracted multiple configuration management solutions into <a href="https://github.com/offscale/offregister"
                                                                     target="_blank">offregister</a>.
      Enabled creation of nodes on 50+ different providers using a <a href="https://github.com/offscale/offstrategy">CLI
      or SDK interface</a>.
      See the <a routerLink="/docs/getting-started">getting started guide</a>.

      <h3>Telstra</h3>
      Contracted into the T-Live team, which handles all the router sensor data for customers. While there, found
      inefficiencies in their cloud strategies, and a 6-month-to-deliver solution to save $100M.
    </ng-vertical-tab>

    <ng-vertical-tab tabTitle="News">
      <h3>Abbrevi8</h3>
      Referred in to go from concept to scalable prototype. Setup the office, hired 5 engineers&mdash;including 2
      postdocs&mdash;and coordinated with the client. Built a Natural Language Processing platform for the [automated]
      summarisation of news articles, based off user preferences.
    </ng-vertical-tab>

    <ng-vertical-tab tabTitle="Medical">
      <h3>Ophthalmology: glaucoma AI</h3>
      Glaucoma is the leading cause of irreversible blindness. But its an asymptomatic disease&mdash;until the late
      stages&mdash;GPs don't screen for it; and optometrists are hit-and-miss. Training convolutional neural networks on
      BMES is one of four steps Offscale's director took in his PhD to facilitate large-scale screening programmes.

      <h3>Surgical streaming</h3>
      Surgeons training surgeons. Odd case came your way? - With <a href="https://github.com/stereostream"
                                                                    target="_blank">the open-source stereostream</a> and
      our inexpensive open-source DIY hardware, you can broadcast surgeries, archive them (e.g.: like we did for
      incorporation into eLearning courses). We used stereostream for a number of live surgeries (in theatre),
      concentrating on the larger-side of microsurgery with ophthalmology (oculoplastics).
    </ng-vertical-tab>

    <ng-vertical-tab tabTitle="Education">
      <h3>Sydney Eye Hospital / Westmead Hosptial / Royal North Shore Hospital / University of Sydney</h3>
      Built and ran a number of eLearning MOOCs for medical students. Utilised the open-source <a
      href="https://open.edx.org">Open edX</a>, from <a href="https://www.edx.org">edX</a>. Our contributions can be
      found on Github. <a href="https://edu.complicated.io" target="_blank">Courses available here</a>.
    </ng-vertical-tab>
  </ng-vertical-tabs>
</div>

<!--
<div class="docs-homepage-promo">
  <div class="docs-homepage-row">
    <div class="docs-homepage-promo-img">
      <app-svg-viewer
        src="../assets/img/homepage/sprintzerotoapp.svg"
        scaleToContainer="true"></app-svg-viewer>
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>Sprint from Zero to App</h2>
      <p>Hit the ground running with comprehensive, modern UI components that work across
        the web, mobile and desktop.</p>
    </div>
  </div>
  <div class="docs-homepage-row docs-homepage-reverse-row">
    <div class="docs-homepage-promo-img">
      <app-svg-viewer
        src="../assets/img/homepage/fastandconsistent.svg"
        scaleToContainer="true"></app-svg-viewer>
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>Fast and Consistent</h2>
      <p>Finely tuned performance, because every millisecond counts. Fully tested across
        modern browsers.</p>
    </div>
  </div>
  <div class="docs-homepage-row">
    <div class="docs-homepage-promo-img">
      <app-svg-viewer
        src="../assets/img/homepage/versatile.svg"
        scaleToContainer="true"></app-svg-viewer>
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>Versatile</h2>
      <p>Themable, for when you need to stay on brand or just have a favorite color.
        Accessible and internationalized so that all users are welcome.</p>
    </div>
  </div>
  <div class="docs-homepage-row docs-homepage-reverse-row">
    <div class="docs-homepage-promo-img">
      <app-svg-viewer
        src="../assets/img/homepage/optimized.svg"
        scaleToContainer="true"></app-svg-viewer>
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>Optimized for Angular</h2>
      <p>Built by the Angular team to integrate seamlessly with Angular.</p>
    </div>
  </div>
  <div class="docs-homepage-bottom-start">
    <a mat-raised-button class="docs-button" routerLink="/guide/getting-started">Get started</a>
  </div>
</div>
-->
<!--<app-footer></app-footer>-->
