@import '~@angular/material/theming';
@import './app-theme';
@import './styles/api';
@import './styles/markdown';
@import './styles/tables';
@import './styles/general';

// Include material core styles.
@include mat-core();

// Define the light theme.
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);

// Define the dark theme.
$dark-primary: mat-palette($mat-deep-orange);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-purple);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Apply theme
@include angular-material-theme($dark-theme);
@include app-root-theme($dark-theme);

.light-colors {
  background-color: mat-color($primary, default);
  color: map-get($mat-light-theme-background, background);
}

.dark-colors {
  background-color: map-get($mat-dark-theme-foreground, base);
  color: map-get($mat-dark-theme-background, background);
}

.docs-markdown-code {
  background: rgba(0, 0, 0, 0.03);
}

.docs-markdown {
  background-color: whitesmoke;
}
