---
title: About
page_title: About
---

<section class="page inner-page">
  <!-- page title -->

  <div class="inner-page-header" id="subheader">
    <div class="container">
      <div class="row">
        <h1 class="headline">About Us</h1>
      </div>
    </div>
  </div>
  <!-- page contents -->

  <article id="timeline">
    <div class="container">
      <div class="row">
        <h2>Roadmap</h2>
      </div>
    </div>

    <div class="scroll-pane horizontal-only" id="points-wrap">
      <div id="points">
        <div class="point">
          <div class="info">
            <span>April 2015</span>

            <h3>Multicloud strategy and cluster</h3>

            <p>Samuel Marks launches initial release.</p>
          </div>

        </div>
        <!--- .point -->

        <div class="point">
          <div class="info below">
            <span>2015</span>

            <h3>Offscale.io</h3>

            <p>Samuel announces offscale.io, a consultancy assisting with deployment and cloud migration.</p>
          </div>

          <div class="body">
            <i class="hashicorp"></i>

            <div class="line"></div>
          </div>
        </div>
        <!--- .point -->

        <div class="point">
          <div class="info">
            <span>May 2015</span>

            <h3>PaaS</h3>

            <p>First version of our PaaS system set to be releases with canary support.</p>
          </div>

          <div class="body">
            <i class="packer"></i>

            <div class="line"></div>
          </div>
        </div>
        <!--- .point -->

        <div class="point">
          <div class="info below">
            <span>June 2015</span>

            <h3>Big data</h3>

            <p>Big data across hybrid multicloud examples to be released</p>
          </div>

        </div>
        <!--- .point -->

        <div class="point">
          <div class="info">
            <span>July 2015</span>

            <h3>Monitoring and dashboards</h3>

            <p>Visual interfaces along with simpler RESTful APIs to be released, that will assist with
              health status reporting, request/response modelling, expenditure and related problems.
            </p>
          </div>

          <div class="body">
            <i class="serf"></i>

            <div class="line"></div>
          </div>
        </div>
        <!--- .point -->


      </div>
      <!-- points -->
    </div>
    <!-- points-wrap -->
  </article>
  <!-- timeline -->

  <article class="team">
    <div class="container">
      <div class="row">
        <div class="hiring col-md-4 hidden-sm hidden-xs">
          <h2>Join us.</h2>
          <a class="hbtn outline-btn large" href="/jobs.html">
            View Jobs<span class="light-caret-right large"></span>
          </a>
          <p>We are capitalists keen on automating jobs, making IT more efficient, and streamling software engineering.
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </article>
  <!-- team -->
</section><!-- page inner-page -->
