<div id="jumbotron-mask">
  <div id="jumbotron">
    <div class="jumbotron-content" id="jumbotron-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 pull-left">
            <div class="hero-headline">
              <p style="margin-bottom: 0">We build clouds. Our consultancy specialises in DevOps-automation, hybrid deployments and cloud migrations.</p>
            </div>
          </div>
          <!-- col -->
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </div>
    <!-- jumbotron-content -->
  </div>
  <!-- jumbotron -->
</div> <!-- jumbotron-mask -->

<article id="products">

  <div id="products-header">
    <div id="bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <ul id="products-nav" class="clearfix">
              <li class="hybrid-multicloud" data-prod="hybrid-multicloud">
                <a href="#hybrid-multicloud">
                  <i></i>
                  <span>Hybrid multicloud</span>
                </a>
              </li>
              <li class="monitoring" data-prod="monitoring">
                <a href="#monitoring">
                  <i></i>
                  <span>Monitoring</span>
                </a>
              </li>
              <li class="PaaS" data-prod="PaaS">
                <a href="#PaaS">
                  <i></i>
                  <span>PaaS</span>
                </a>
              </li>
              <li class="big-data" data-prod="big-data">
                <a href="#big-data">
                  <i></i>
                  <span>Big data</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="products-display" class="slider hybrid-multicloud">
    <div class="hybrid-multicloud container">
      <div class="row">
        <div class="logos col-sm-6 col-sm-12">
          <i class="product-logo"></i>
        </div>
        <div class="descs col-sm-6 col-sm-12">
          <p>Scale your services seamlessly from internal to external cloud providers.
        </div>
      </div>
    </div>
    <div class="monitoring container">
      <div class="row">
        <div class="logos col-sm-6 col-sm-12">
          <i class="product-logo"></i>
        </div>
        <div class="descs col-sm-6 col-sm-12">
          <p>
            Cloud, service and application monitoring made scalable thanks to offscale.io.
          </p>
        </div>
      </div>
    </div>
    <div class="PaaS container">
      <div class="row">
        <div class="logos col-sm-6 col-sm-12">
          <i class="product-logo"></i>
        </div>
        <div class="descs col-sm-6 col-sm-12">
          <p>Docker is fantastic, especially when combined with pipelines of CI/CD and deployment strategies.</p>
          <p>Deploy to tiers&mdash;e.g.: dev, test, prod&mdash; and also experiment on user segments using
            <a style="color: white; text-decoration: underline" class="a_bold"
               href="http://martinfowler.com/bliki/CanaryRelease.html">
              canary releases
            </a>.
          </p>
        </div>
      </div>
    </div>
    <div class="big-data container">
      <div class="row">
        <div class="logos col-sm-6 col-sm-12">
          <i class="product-logo"></i>
        </div>
        <div class="descs col-sm-6 col-sm-12">
          <p>
            Managed Apache Hadoop, Apache Spark and Cassandra for all your Big Data needs.
          </p>
        </div>
      </div>
    </div>
  </div>
</article>
