---
title: Jobs
page_title: Jobs
---

<article class="team">
<div class="container">
  <div class="row">
    <div class="hiring col-md-4 hidden-sm hidden-xs">
      <h2>Join us.</h2>
      <a class="hbtn outline-btn large" style="background-color: black"
         href="mailto:offscale.io@gmail.com?subject=Offscale.io job (resume enclosed)&body=<insert cover letter>">
        Express interest
      </a>
      <p>We are capitalists keen on automating jobs, making IT more efficient, and streamling software engineering.
    </div>
  </div>
  <!-- row -->
</div>
<!-- container -->
</article>
